<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 p-6 rounded-lg">
  {% for result in results %}
  <div class="card-container">
    {% include 'components/cards/card.html' with uri=result.uri year=result.year image=result.image org_code=result.org_code institution=result.institution title=result.title subtitle=result.subtitle contributor1_name=result.contributor1_name contributor1_role=result.contributor1_role contributor2_name=result.contributor2_name contributor2_role=result.contributor2_role contributor3_name=result.contributor3_name contributor3_role=result.contributor3_role contributor4_name=result.contributor4_name contributor4_role=result.contributor4_role additional_contributors=result.additional_contributors category1=result.category1 category2=result.category2 category3=result.category3 category4=result.category4 additional_categories=result.additional_categories button_text=result.button_text %}
  </div>
  {% empty %}
  <div class="col-span-full text-center py-12">
    <p class="text-arkumu-dark theme-dark:text-arkumu-light theme-blue:text-arkumu-blue font-mono">
      Keine Projekte gefunden
    </p>
  </div>
  {% endfor %}
</div>