<div class="w-full px-4 py-8 transition-colors
            text-arkumu-dark
            theme-dark:text-arkumu-light
            theme-blue:text-arkumu-blue">
  <div class="w-full max-w-7xl mx-auto">
    <h2 class="text-3xl font-medium mb-6" tabindex="0">Metadaten</h2>
    <div class="overflow-x-auto p-4 transition-colors
                theme-dark:border-arkumu-light/20">
      <table class="min-w-full text-sm">
        <tbody class="divide-y divide-arkumu-dark/10 theme-dark:divide-arkumu-light/10">
        {% for item in metadata %}
          <tr>
            <th class="text-left py-3 font-mono uppercase tracking-wide text-xs text-arkumu-dark/70"
                tabindex="0">
              {{ item.key }}
            </th>
            <td class="py-3 border-b " tabindex="0">
              {% if item.values %}
{#                <ul class="list-disc list-inside space-y-1">#}
                  {% for entry in item.values %}
                    {% if item.key != entry %}
                      <div>{{ entry }}</div>
                    {% endif %}
                  {% endfor %}
{#                </ul>#}
              {% else %}
                {{ item.value }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
