<div class="w-full px-4 py-8 transition-colors
            text-arkumu-dark
            theme-dark:text-arkumu-light
            theme-blue:text-arkumu-blue">
  <div class="w-full max-w-7xl mx-auto">
    <h2 class="text-3xl font-medium mb-6" tabindex="0">Metadaten</h2>

    {% include 'catalog/partials/metadata/allgemein.html' %}
    {% include 'catalog/partials/metadata/projekteigenschaften.html' %}
    {% include 'catalog/partials/metadata/status_signaturen.html' %}
    {% include 'catalog/partials/metadata/normdaten.html' %}
    {% include 'catalog/partials/metadata/ersteller.html' %}
    {% include 'catalog/partials/metadata/kategorisierung.html' %}
    {% include 'catalog/partials/metadata/rechteverwaltung.html' %}
    {% include 'catalog/partials/metadata/projekte_relation.html' %}

  </div>
</div>
